.base-layout {
  margin-top: 70px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--light2);
  color: var(--dark);
}

.title-slogan {
  margin-bottom: 30px;
  span {
    color: red;
  }
}