<div class="header-container">
  <div class="container">
    <div class="header">
      <div class="header__logo">
        <a href="/index.html">
          <img src="js.svg" alt="logo">
        </a>
      </div>
      <nav class="header__nav">
        <a class="nav__link" href="index.html">Home</a>
        <a class="nav__link" href="about.html">About</a>
        <a class="nav__link" href="contacts.html">Contacts</a>
        <!-- <button class="nav__btn _resize">
          <img src="icons/max-size.svg" width="32" height="32" alt="resize">
        </button> -->
        <button class="nav__btn _theme-btn">
          <img src="icons/moon.svg" width="45" height="45" alt="theme">
        </button>
      </nav>
      <div class="header__overlay"></div>
      <div class="header__btn">
        <div>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</div>